html {
  background-color: #d3d3d3;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  text-align: justify;
  color: #000000;
  margin: 30px 130px 130px;
}

#title{
  font-size:60px;
  text-align:center;
}

#sub-title {
  text-align: center;
  font-size: 25px;
}

img {
  align-items: center;
  border: 10px;
  height: 500px;
  width: 700px;
}

#img-caption {
  margin: 30px;
  color: #000000;
  text-align: center;
}

blockquote {
  font-style: oblique;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

.myDiv {
  display: grid;
  border: 10px;
  background-color: dimgray;
  text-align: justify;
  -webkit-text-fill-color: lightgrey;
}